@font-face {
    font-family: 'Mandatory';
    src: url(./fonts/mandatory.otf);
}

@font-face {
    font-family: 'Source Sans 3';
    src: url(./fonts/source-sans-regular.ttf);
}

@font-face {
    font-family: 'Source Sans 3';
    src: url(./fonts/source-sans-bold.ttf);
    font-weight: 600;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.shine:hover {
    text-decoration: none;
    color: white;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}