.license-plate-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-47%, -50%);
}

.license-plate {
    background: linear-gradient(to bottom, #4bc7e5 0%, #f2f2ee 55%);
    border: 4px solid #37518a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 300px;
    height: 135px;
}

.loading {
    text-decoration: none;
    color: white;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: loading 1s infinite;
}

@keyframes loading {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.plate-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-variant-numeric: tabular-nums;
    font-size: 42px;
    color: #2c3863;
    text-align: center;
    width: 100%;
}

.license-plate input {
    width: 270px;
    height: 100px;
    font-family: 'Mandatory', sans-serif;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: -0.05px;
    background: transparent;
    border: none;
    color: #2c3863;
    text-align: center;
    font-variant-numeric: tabular-nums;
}

.license-plate input:focus {
    outline: none;
}

.state-name {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    color: #303c6f;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.state-outline {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 12.5%;
    text-align: center;
    color: #303c6f;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.constitution-state {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #303c6f;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.instructions {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
    color: #303c6f;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.text-green {
    color: #35aa54 !important;
}

.text-red {
    color: #a83737 !important;
}

.text-link {
    color: #3f55b8 !important;
}

.result-box {
    position: absolute;
    width: 100%;
    text-align: center;
    align-items: center;
    color: #303c6f;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;

    .result-box-header {
        top: 10px;
        color: #303c6f;
    }

    .result-box-header span {
        top: 30px;
        font-weight: 600;
        font-size: 23px;
    }
    
    .result-box-body {
        top: 50px;
        color: #303c6f;
    }
    
    .result-box-body span {
        top: 20px;
        color: #303c6f;
    }

    .result-box-body-table {
        color: #303c6f;
        text-align: left;
        display: flex;
        position: absolute;
        top: 300%;
        left: 50%;
        border: 2px #b0b0b0 dashed;
        padding: 10px;
        transform: translate(-50%, -50%);
    }
    
    .result-row-padding {
        padding-right: 20px;
    }

    .table-key {
        font-weight: 600;
    }
}